<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section">
        <div class="container">
            <div class="tit">MyPetSitterList</div>
            <div class="cont_box">
                <div class="board list">
                    <table>
                        <thead>
                        <tr>
                            <th>펫시터 이름</th>
                            <th>예약 날짜</th>
                            <th>예약 시간</th>
                            <th>가격</th>
                            <th>상태</th>
                            <th>상태 관리</th>
                        </tr>

                        </thead>
                        <tbody>
                            <tr th:each="items: ${list}">
                                <td class="td_tit">
                                    <a th:href="@{/petsitter/{id}(id=${items.getPetsitter().getPetsitter().getId()})}" th:text="${items.getPetsitter().getPetsitter().getSitterName()}"></a>
                                </td>
                                <td th:text="${items.getReservation().getDate()}"></td>
                                <td th:text="${items.getReservation().getTimes()}"></td>
                                <td th:text="${items.getPrice() * items.getTimeCount()}"></td>
                                <td th:text="${items.getReservation().getStatus()}"></td>
                                <td >
                                    <input type="text" class="reservationId" th:value="${items.getReservation().getId()}" hidden/>
                                    <select class="statusSelect" th:if="${!items.getReservation().getStatus().equals('취소')}">
                                        <option value="">선택</option>
                                        <option value="대기" th:selected="${items.getReservation().getStatus() == '대기'}">대기</option>
                                        <option value="확정">확정</option>
                                        <option value="취소">취소</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.statusSelect').change(function() {
                var itemId = $(this).siblings(".reservationId").val();
                var newStatus = $(this).val();

                // AJAX request to update server
                $.ajax({
                    type: 'POST',
                    url: '/reservation/updateStatus', // Replace with your actual endpoint
                    data: {
                        id: itemId,
                        status : newStatus
                    },
                    success: function(response) {
                        alert('상태가 변경 되었습니다');
                        window.location.reload();
                    },
                    error: function(error) {
                        // Handle error response if needed
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
</th:block>
</html>