<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section">
        <div class="container">
            <div class="tit">Reservation List</div>
            <div class="cont_box">
                <div class="board list">
                    <table>
                        <thead>
                        <tr>
                            <th>펫시터 이름</th>
                            <th>예약 날짜</th>
                            <th>예약 시간</th>
                            <th>가격</th>
                            <th>상태</th>
                            <th>취소요청</th>
                        </tr>

                        </thead>
                        <tbody>
                            <tr th:each="items: ${list}">
                                <td class="td_tit">
                                    <div th:text="${items.getSitterName()}"></div>
                                </td>
                                <td th:text="${items.getReservation().getDate()}"></td>
                                <td th:text="${items.getReservation().getTimes()}"></td>
                                <td th:text="${items.getPrice() * items.getTimeCount()}"></td>
                                <td th:text="${items.getReservation().getStatus().name()}"
                                    th:classappend="(${items.getReservation().getStatus().name() == '취소'} ? 'text-red' : (${items.getReservation().getStatus().name() == '대기'} ? 'text-gray' : ''))">
                                </td>
                                <td>
                                    <input type="text" th:if="${items.getReservation().getStatus().name() == '대기'}" id="reservationId" th:value="${items.getReservation().getId()}" hidden/>
                                    <button th:if="${items.getReservation().getStatus().name() == '대기'}" class="btnClick font-18 btn" value="취소">취소</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="mt-30">예약 취소는 '대기' 상태에서만 가능합니다.</p>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.btnClick').click(function() {
                var itemId = $("#reservationId").val();
                var newStatus = $(this).val();

                // AJAX request to update server
                $.ajax({
                    type: 'POST',
                    url: '/reservation/updateStatus', // Replace with your actual endpoint
                    data: {
                        id: itemId,
                        status : newStatus
                    },
                    success: function(response) {
                        alert('상태가 변경 되었습니다');
                        window.location.reload();
                    },
                    error: function(error) {
                        // Handle error response if needed
                        console.error('Error updating status:', error);
                    }
                });
            });
        });
    </script>
</th:block>
</html>