<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">MyPet</div>
            <div class="cont_box">

                <form action="/pet/update" method="post" enctype="multipart/form-data" th:object="${petDto}" onsubmit="return validateFiles()">
                    <input type="hidden" name="id" th:value="${petDto.id}">
                    <div class="box text-left">
                        <div class="box text-left">
                            <label class="font22" th:for="petName">반려동물 이름</label>
                            <input type="text" id="petName" name="petName" th:field="*{petName}" class="form-control" required>

                            <p th:if="${#fields.hasErrors('petName')}" th:errors="*{petName}" class="fieldError" style="color:red">Incorrect data</p>
                            <p th:text="${errorMessage}" style="color:red"></p>

                        </div>

                        <div class="box text-left">
                            <label class="font22">반려동물 종류</label><br>
                            <label><input type="radio" name="petType" th:field="*{petType}" th:value="true"/> 강아지</label>
                            <label><input type="radio" name="petType" th:field="*{petType}" th:value="false"/> 고양이</label>
                            <p th:if="${#fields.hasErrors('petType')}" th:errors="*{petType}" class="fieldError" style="color:red">Incorrect data</p>

                        </div>

                        <div class="box text-left">
                            <label class="font22">반려동물 성별</label><br>
                            <label><input type="radio" name="petGender" th:field="*{petGender}" th:value="true"/> 여아</label>
                            <label><input type="radio" name="petGender" th:field="*{petGender}" th:value="false"/> 남아</label>
                        </div>

                        <div class="box text-left">
                            <label class="font22">반려동물 생일</label><br>
                            <!-- 날짜 선택을 위한 input date -->
                            <input type="date" id="petBirthDate" name="petBirthDate" class="form-control" onchange="updateTextField()">

                            <!-- 선택한 날짜를 표시할 input text -->
                            <input type="text" id="petBirth" name="petBirth" th:field="*{petBirth}" class="form-control">
                        </div>

                        <div class="box text-left">
                            <label class="font22" th:for="petBreed">반려동물 품종</label>
                            <input type="text" id="petBreed" name="petBreed" th:field="*{petBreed}" class="form-control"/>
                        </div>

                        <div class="box text-left">
                            <label class="font22">중성화 여부</label><br>
                            <label><input type="radio" name="petBreed" th:field="*{petNeutering}" th:value="true"/> O</label>
                            <label><input type="radio" name="petBreed" th:field="*{petNeutering}" th:value="false"/> X</label>
                        </div>

                        <!-- 반려동물 몸무게 -->
                        <div class="box text-left">
                            <label class="font22" th:for="petWeight">반려동물 몸무게 (kg)</label>
                            <input type="number" step="0.01" id="petWeight" name="petWeight" th:field="*{petWeight}" class="form-control">
                        </div>

                        <!-- 파일 업로드 부분 -->
                        <div class="box text-left">
                            <label class="font22" th:for="files">프로필 사진등록</label>
                            <input type="file" id="files" name="files" th:field="*{files}" class="form-control"
                                   accept="image/png, image/jpeg, image/gif" multiple>
                        </div>


                    </div>
                    <div class="mt-20" style="width:100%;text-center">
                        <input type="submit" class="font18 btn" value="등록">
                        <a th:href="@{/my/myPetlist}" class="btn font18">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        function validateFiles() {
            const allowedTypes = ['image/png', 'image/jpeg', 'image/gif'];
            const files = document.getElementById('files').files;

            for (let i = 0; i < files.length; i++) {
                if (!allowedTypes.includes(files[i].type)) {
                    alert('이미지 파일만 업로드할 수 있습니다. (PNG, JPEG, GIF)');
                    return false;
                }
            }

            return true;
        }

        function updateTextField() {
            var selectedDate = document.getElementById('petBirthDate').value;
            document.getElementById('petBirth').value = selectedDate;
        }
    </script>


</th:block>
</html>