<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header id="header" th:fragment="header">
        <div class="container flex">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
            <ul class="menu flex depth1">
                <div class="m_btn m_btn_closed" onclick="toggleMenu()"><span class="material-symbols-outlined">close</span></div>
                <li><a th:href="@{/petsitter/list}">펫시터 둘러보기</a></li>
                <li><a th:href="@{/board/list}">문의하기</a></li>
                <li th:if="${username != 'anonymousUser'}" class="has-submenu">
                    <a href="">마이페이지</a>
                    <ul class="depth2">
                        <li><a th:href="@{/my/mypage}">회원 정보</a></li>
                        <li><a th:href="@{/my/myWishList}">찜 리스트</a></li>
                        <li><a th:href="@{/my/myPetlist}">반려 동물 정보</a></li>
                        <li><a th:href="@{/my/myPetsitterResList}">예약 상품 목록</a></li>
                    </ul>
                </li>
                <li th:if="${#lists.size(role) > 1}" class="has-submenu">
                    <a href="">펫시터 마이페이지</a>
                    <ul class="depth2">
                        <li><a th:href="@{/my/myPetsitterItemResList}">나의 펫시터 예약현황</a></li>
                        <li><a th:href="@{/my/myPetsitterList}">나의 펫시터 관리</a></li>
                    </ul>
                </li>
            </ul>
            <div class="menu_box">
                <a th:if="${username == 'anonymousUser'}" th:href="@{/login}" class="login font18 btn">Login</a>
                <a th:if="${username != 'anonymousUser'}" th:unless="${isSocial}" th:href="@{/logout}" class="login font18 btn">logout</a>

                <a th:if="${isSocial}" th:href="@{/api/kakao/logout}" class="login font18 btn">
                    <!-- 소셜로그아웃 -->
                    logout
                </a>
                <div class="m_btn m_btn_open" onclick="toggleMenu()"><span class="material-symbols-outlined">menu</span></div>
            </div>
        </div>
        <script th:if="${username != 'anonymousUser'}">
            document.addEventListener('DOMContentLoaded', function() {
                const menuItems = document.querySelectorAll('.menu .has-submenu');
                menuItems.forEach(menuItem => {
                    const submenu = menuItem.querySelector('.depth2');

                    // Show submenu on mouse enter
                    menuItem.addEventListener('mouseenter', function() {
                        submenu.style.display = 'block';
                    });

                    // Hide submenu on mouse leave
                    menuItem.addEventListener('mouseleave', function() {
                        submenu.style.display = 'none';
                    });
                });
            });
        </script>
        <script>
            // 메뉴
            function toggleMenu() {
                const menuBtnOpen = document.querySelector('.m_btn_open');
                const menuBtnClose = document.querySelector('.m_btn_closed');

                const mainMenu = document.querySelector('.menu');

                if (mainMenu.style.right === '-100%') {
                    // Close menu
                    mainMenu.style.right = '0';
                } else {
                    mainMenu.style.right = '-100%';
                }
            }
        </script>
    </header>
</html>