<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header id="header" th:fragment="header">
        <div class="container flex">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="">
            </a>
            <ul class="menu flex depth1">
                <li><a th:href="@{/petsitter/paging}">펫시터 둘러보기</a></li>
                <li><a th:href="@{/}">반려동물 등록</a></li>
                <li><a th:href="@{/board/list}">문의하기</a></li>
                <li th:if="${username != 'anonymousUser'}" class="has-submenu">
                    <a href="">마이페이지</a>
                    <ul class="depth2">
                        <li><a th:href="@{/my/mypage}">회원 정보</a></li>
                        <li><a th:href="@{/my/myWishList}">찜 리스트</a></li>
                        <li><a th:href="@{/my/myPetlist}">반려 동물 정보</a></li>
                        <li><a th:href="@{/my/myPetsitterList}">예약 상품 목록</a></li>
                    </ul>
                </li>
            </ul>
            <a th:if="${username == 'anonymousUser'}" th:href="@{/login}" class="login font18 btn">Login</a>
            <a th:if="${username != 'anonymousUser'}" th:unless="${isSocial}" th:href="@{/logout}" class="login font18 btn">logout</a>

            <a th:if="${isSocial}" th:href="@{/api/kakao/logout}" class="login font18 btn">
                <!-- 소셜로그아웃 -->
                logout
            </a>
        </div>
        <script>
            const menuItem = document.querySelector('.menu .has-submenu');
            const submenu = menuItem.querySelector('.depth2');

            // Show submenu on mouse enter
            menuItem.addEventListener('mouseenter', function() {
                submenu.style.display = 'block';
            });

            // Hide submenu on mouse leave
            menuItem.addEventListener('mouseleave', function() {
                submenu.style.display = 'none';
            });
        </script>
    </header>
</html>