<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">Pet Sitter</div>
            <div class="cont_box">
                <ul class="petsitterList">
                    <li class="brBox">
<!--                        <div>-->
<!--                            <div class="list_tit font22 mb-5">예약확인</div>-->

<!--                            <div class="box text-left sitterDetail">-->
<!--                                <div class="list_tit font22 mb-5">소개글</div>-->
<!--                                <div th:text="${petsitter.sitterContent}"></div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </li>
                </ul>
            </div>
        </div>

        </script>
    </section>
</th:block>
</html>