<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{./layout/layout}">

<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">Pet Sitter</div>
            <div class="cont_box">
                <ul class="petsitterList">
                    <li class="brBox" style="display:block">
                        <div class="font22">예약이 완료 되었습니다!</div>
                        <a th:href="@{/my/myPetsitterResList}" class="btn font18 mt-10">나의 예약 확인하기</a>
                    </li>
                </ul>
            </div>
        </div>

        </script>
    </section>
</th:block>
</html>