<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">

<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">Pet Sitter</div>
            <div class="cont_box">
                <button onclick="listReq()" class="btn font18 backList">목록</button>
                <ul class="petsitterList">
                    <li class="brBox" style="display:block">
                        <button id="addToWishlistBtn" th:value="${petsitter.getId()}"></button>

                        <div class="box text-left flex-wrap sitterDetail" style="margin-top:0">
                            <!-- Petsitter 정보 표시 -->
                            <div class="list_icon">
                                <div>
                                    <div th:if="${member.social}">
                                        <!-- 소셜 프로필 이미지 추가 -->
                                        <div th:unless="${member.uploadedFileName != null && !member.uploadedFileName.isEmpty()}" class="list_icon">
                                            <img th:src="@{/member/view/default.jpg}" alt="Pet Thumbnail">
                                        </div>
                                        <div th:if="${member.uploadedFileName != null && !member.uploadedFileName.isEmpty()}" class="list_icon">
                                            <img th:src="${member.uploadedFileName[0]}" alt="Social Thumbnail">
                                        </div>

                                    </div>
                                    <div th:unless="${member.social}">
                                        <!-- 프로필 이미지 추가 -->
                                        <div th:unless="${member.uploadedFileName != null && !member.uploadedFileName.isEmpty()}" class="list_icon">
                                            <img th:src="@{/member/view/default.jpg}" alt="Pet Thumbnail">
                                        </div>
                                        <div th:if="${member.uploadedFileName != null && !member.uploadedFileName.isEmpty()}" class="list_icon">
                                            <img th:src="@{'/member/view/s_' + ${member.uploadedFileName[0]}}" alt="Pet Thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list_txt">
                                <div class="marker mb-5">
                                    <span class="dog" th:if="${petsitter.isSitterType() == false}">강아지 돌봄</span>
                                    <span class="cat" th:if="${petsitter.isSitterType() == true}">고양이 돌봄</span>
                                </div>
                                <div class="list_tit font22 mb-5" th:text="${petsitter.sitterName}"></div>
                                <div class="" th:text="${petsitter.sitterWorkAdr}"></div>
                            </div>
                        </div>
                        <div class="box sitterDetail">
                            <div id="map" style="width:100%;height:350px;"></div>
                            <p class="grfont mt-10">대략적인 위치를 확인하세요!</p>
                        </div>

                        <div class="box text-left sitterDetail">
                            <div class="list_tit font22 mb-5">소개글</div>
                            <div th:text="${petsitter.sitterContent}"></div>
                        </div>

                        <div class="box text-left sitterDetail">
                            <div class="list_tit font22 mb-5">돌봄 비용</div>
                            <div><span th:text="${petsitter.sitterPrice}"></span> 원</div>
                        </div>

                        <div class="box text-left sitterDetail" th:if="${petsitter.uploadedFileName != null && !petsitter.uploadedFileName.isEmpty()}">
                            <div class="list_tit font22 mb-5">돌봄 이미지</div>
                            <div class="img_slide swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" th:each="fileName : ${petsitter.uploadedFileName}">
                                        <img th:src="@{'/petsitter/view/s_' + ${fileName}}" alt="Pet Thumbnail">
                                    </div>
                                </div>
                                <!-- If we need navigation buttons -->
                                <div class="swiper-button-prev">
                                    <span class="material-symbols-outlined">chevron_left</span>
                                </div>
                                <div class="swiper-button-next">
                                    <span class="material-symbols-outlined">chevron_right</span>
                                </div>
                            </div>
                        </div>
                        <a style="cursor:pointer" id="reservationButton" class="btn font18 mt-20" th:data-petsitter-id="${petsitter.getId()}">예약하기</a>
                    </li>

                </ul>
            </div>
        </div>


        <script>
            const listReq = () => {
                console.log("목록 요청");
                const page = [[${page}]];
                location.href = "/petsitter/list?page="+page;
            }

            const reservationButton = document.getElementById('reservationButton');
            reservationButton.addEventListener('click', function () {
                const pet = [[${pet}]];
                if (pet === 0) {
                    alert('반려동물 정보를 입력해주세요!');
                    location.href = '/my/myPetlist';
                } else {
                    const petsitterId = this.getAttribute('data-petsitter-id');
                    location.href = `/petsitter/reservation/${petsitterId}`;
                }
            });

            const swiper = new Swiper('.img_slide', {
              loop: true,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
            });


            $(document).ready(function () {
                const petsitterId = $('#addToWishlistBtn').val();
                checkWishlist(petsitterId);

                $('#addToWishlistBtn').click(function () {
                    if (!$(this).prop('disabled')) {
                        addToWishlist(petsitterId);
                    }
                });
            });

            function checkWishlist(petsitterId) {
                $.ajax({
                    type: 'GET',
                    url: '/wish/exists',
                    data: { petsitterId: petsitterId },
                    success: function (exists) {

                        if (exists) {
                            $('#addToWishlistBtn').prop('disabled', true);
                            $('#addToWishlistBtn').html('<img src="/images/starFull.png">');
                        } else {
                            $('#addToWishlistBtn').prop('disabled', false);
                            $('#addToWishlistBtn').html('<img src="/images/star.png">');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error checking Wishlist:', error);
                    }
                });
            }

            function addToWishlist(petsitterId) {
                $.ajax({
                    type: 'POST',
                    url: '/wish/',
                    data: {
                        petsitterId: petsitterId
                    },
                    success: function(response) {
                        alert('찜!');
                        console.log(response);
                        window.location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error('Error adding to Wishlist:', error);
                        alert('찜 실패!.');
                    }
                });
            }
        </script>

    </section>

    <script src="/js/kakaoApiKey.js"></script>
    <script type="text/javascript" th:src="'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${kakaoApiKey} + '&libraries=services'"></script>
    <script>
        window.onload = function () {

            // Kakao 지도 초기화
            const address = "[[${petsitter.sitterWorkAdr}]]";
            const mapContainer = document.getElementById('map'); // 지도를 표시할 div

            // 주소 - 좌표 변환 객체를 생성
            const geocoder = new kakao.maps.services.Geocoder();



            // 주소로 좌표를 검색
            geocoder.addressSearch(address, function (result, status) {
                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {
                    const coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    const mapOption = {
                        center: coords, // 주소 좌표를 중심으로 설정
                        level: 5
                    };
                    const map = new kakao.maps.Map(mapContainer, mapOption);

                     // 스크롤 줌 비활성화
                     map.setZoomable(false);

                    // 지도를 클릭하면 스크롤 줌 활성화
                    kakao.maps.event.addListener(map, 'click', function () {
                        map.setZoomable(true);
                    });

                    // 주소 좌표에 원 추가
                    const circle = new kakao.maps.Circle({
                        center: coords,  // 원의 중심좌표
                        radius: 1000, // 미터 단위의 원의 반지름
                        strokeWeight: 0, // 선의 두께
                        strokeColor: '#FF0000', // 선의 색깔
                        strokeOpacity: 1, // 선의 불투명도 (1에서 0 사이의 값이며 0에 가까울수록 투명)
                        strokeStyle: 'solid', // 선의 스타일
                        fillColor: '#FF0000', // 채우기 색깔
                        fillOpacity: 0.3  // 채우기 불투명도
                    });
                    circle.setMap(map);

                }
            });
        }
    </script>
</th:block>
</html>