/* 초기화 */
:root{
    --layoutwidth:1200px;
    --pointcolor:#15a8d4; 
    --pointcolor2:#edce69; 
    --grcolor:#c1c1c1;
    --wtcolor:#ffffff
}

*{outline:none;}
*, :after, :before {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;/*vertical-align: baseline;*/}

html, body{font-family: var(--mainfont), sans-serif;font-weight:var(--boldWeight);line-height: 1.7;word-break:break-all;color:#000000;}
body{-webkit-font-smoothing: antialiased;-font-smoothing: antialiased; letter-spacing: -1px}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
div,span,p,ul,ol,li,dd,dt,dl,h1,h2,h3,h4,h5,h6{word-break: keep-all;} /* 줄바꿈 속성 (단어기준)*/
h1, h2, h3, h4, h5, h6{font-size: 1em;margin: 0;padding: 0;font-family: inherit;}
a{text-decoration:none;color:#000;-webkit-tap-highlight-color: transparent;}
button{border:none;background-color:transparent;cursor: pointer;}
ul,li, ol, dl,dt,dd {list-style:none}
b, strong {font-weight: 600;}
small{font-size:0.9em;vertical-align: text-bottom;}
tbody, tfoot, thead, tr, th, td{}
br{font-family:sans-serif}
img{
    image-rendering: -moz-auto;         /* Firefox */
    image-rendering:   -o-auto;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: auto;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    max-width: 100%;
    display: block;
    margin: auto;
}

input, button,textarea, select {margin:0;padding:0;font-family: var(--mainfont), sans-serif;font-size:1em}
input[type="submit"] {width: auto}
input[type="button"], input[type="text"], input[type="email"],
input[type="search"], input[type="password"], textarea, input[type="submit"] {   appearance: none;-webkit-appearance: none; outline: none;}

input[type="button"], input[type="submit"] {border: 0;cursor: pointer;}
input:focus, textarea:focus{ border-color: #585858; outline: none; }
input[type="button"]:focus{ outline: none;}
select::-ms-expand{ display:none;}



::-webkit-input-placeholder { color: #6f6f6f; text-overflow: ellipsis;}
::-moz-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;}
::-ms-input-placeholder { color: #6f6f6f; text-overflow: ellipsis; opacity:1;}

/* Scroll관련 */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);box-shadow: inset 0 0 6px rgba(0,0,0,0.1); border-radius: 5px; background-color: rgba(220, 220, 220, 0.3);}
::-webkit-scrollbar-thumb {background-clip: padding-box; border-radius: 5px; background: var(--pointcolor); border: 2px solid transparent;}

@media (max-width: 500px) {
    div,span,p,ul,ol,li,dd,dt,dl,h1,h2,h3,h4,h5,h6{word-break: keep-all;} /* 줄바꿈 속성 (글자기준)*/
} 

/* common */
.flex{display: flex;align-items: center;}
.flexList { --x-gap:1.5rem; --y-gap:1.5rem;   display:flex;  flex-wrap:wrap;  gap:var(--y-gap) var(--x-gap);}
.flexList > .box{width:calc(100% / var(--count) - (var(--x-gap) * (var(--count) - 1)) / var(--count)); }
.flexList[layoutStyle="fullbox"] {--x-gap:0; --y-gap:10px; }
.flexList[layoutStyle="fullbox"] > .box{  width:calc(100% / var(--count)) }


.mb-5{margin-bottom: 0.5rem;}
.mt-10{margin-top: 1.0rem;}
.mt-20{margin-top: 2.0rem;}
.mt-30{margin-top: 3.0rem;}
.mt-50{margin-top: 5.0rem;}
.mb-30{margin-bottom: 3.0rem;}
.mb-50{margin-bottom: 5.0rem;}

/* boxCout */
[boxCount="2"]{ --count:2; }
[boxCount="3"]{ --count:3; } 
[boxCount="4"]{ --count:4; }
[boxCount="5"]{ --count:5; }
[boxCount="6"]{ --count:6; }

/* ===== Basic ===== */
html,body{font-size: 62.5%;}
@media (max-width:990px){html, body {font-size: 8px;}}
@media (max-width:550px){html, body {font-size: 6px;}}

.section{padding:4.0rem 0 8.0rem 0;text-align: center;}
.container{max-width: var(--layoutwidth); margin: auto;}
.cont_box{margin-top: 60px;}
.tit{font-size: 4.8rem;font-weight: 700;font-family: "Montserrat", sans-serif;}
.font16{font-size: 1.6rem;}
.font18{font-size: 1.8rem;}
.font22{font-size: 2.2rem;font-weight: 600;}
.font28{font-size: 2.8rem;font-weight: 600;}
.font30{font-size: 3.0rem;font-weight: 600;}
.grfont{color:var(--grcolor)}
.wtfont{color: var(--wtcolor);}
.btn{line-height: 1.5em;transition: .5s all ease;padding: 10px 30px;display: inline-block;border-radius: 50px;background: var(--pointcolor);color: #fff;font-weight: 600;}
.btn:hover{background: var(--pointcolor2);}
.icon{padding-top: 80px;}
.brBox{border-radius: 40px;box-shadow: 3px 3px 20px rgba(0,0,0,0.1);padding: 20px 0;}
.flex-wrap{display:flex;flex-wrap:wrap}
.text-left{text-align: left;}


/* header */
#header, main, #footer, section, .myPetPopup{font-size:1.6rem}
#header {padding: 15px 0;box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);}
#header .menu{margin-left: auto;margin-right: 20px;}
#header .menu a{display: block;padding: 15px;}
#header .menu a:hover{color: var(--pointcolor);}
#header .menu .depth2 {display:none;position: absolute;top: 100%;left: 0;width: 150px;background: #fff;box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);z-index:9999}
#header .menu.depth1 li {position: relative;top: 0;left: 0;}
#header .menu.depth1 a{padding:10px 15px;}
#header .m_btn{display:none;}

/* footer */
#footer{background: #000;padding: 10px 0;text-align: center;}
#footer .txt{color: var(--wtcolor);opacity:0.3}

/* main */
main{min-height: 800px;}
.mainslide{position: relative;top: 0;left:0;overflow: hidden;}
.mainslide .txt{width: var(--layoutwidth);position: absolute;top: 10%;left:50%;transform: translateX(-50%);text-align: center;}

.iconBox .img{transition: .5s all ease;}
.iconBox:hover .img{transform: translateY(-20px);}
.iconBox:hover .txt{color: var(--pointcolor);}
.banner{background: linear-gradient(0deg, rgba(21,168,212,1) 0%, rgba(21,168,212,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);}


/* register */
.register {max-width: 768px;margin:auto}
.register .box{margin-top: 30px;}

.register .box:first-child{margin-top: 0;}
.register .box > label{width: 100%;display: block}
.register .box input[type="email"], .register .box input[type="text"],.register .box input[type="file"], .register .box input[type="password"]{padding: 10px;border: 0;border-bottom: 1px solid var(--grcolor);width: 100%;margin-top: 5px;}
.register .box select{padding: 10px;width: 320px;border-radius: 5px;border: 1px solid var(--grcolor);}
.register .box textarea{padding: 10px;width: 100%;border-radius: 5px;height: 100px;border: 1px solid var(--grcolor);}
.register .brBox{max-width:100%;padding: 150px 50px;margin-right: auto;margin-left: auto}

.register .radioBox .box{margin-top: 0}
.register .radioBox .box label{width: auto;display: inline-block;margin-left: 5px;}

/* board */
.board .cont_box{text-align: right}
.board table{width: 100%;border-spacing:0;text-align: center}
.board table th{padding: 10px 5px;border-top:1px solid #ddd;border-bottom: 1px solid #ddd;background: #f5f5f5}
.board table td{border-bottom: 1px solid #ddd;padding: 10px 5px;}
.board .paging{text-align: center;margin-top: 30px;display: flex;align-items: center;justify-content: center}
.board .paging a {display: flex;align-items: center;justify-content: center;}
.boardlist.list .td_date{width:200px}
.boardlist.list .td_num{width:130px}
.boardlist.list .td_tit{text-align:left}

/* comment */
#comment-list {padding-top: 50px;}
#comment-list > div > div {border-bottom: 1px solid #ddd;padding-bottom: 10px;margin-bottom: 10px;}
#comment-list .box{position:relative;top:0;left:0}
#comment-list .comment-btn { position: absolute; top: 0; right: 0;}
.comment-update-form{text-align:left;background: #eee;padding: 10px;margin-top: 10px;}
.comment-update-form .inputBox input[type="text"]{border:none;border-bottom:1px solid #aaa;background:none;width:100%;padding:10px;margin-bottom:5px;}

.petsitterList li {margin-top: 30px;display: flex;align-items: center;justify-content: space-between;width: 100%;flex-wrap: wrap;}
.petsitterList li.brBox{border-radius: 25px;box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);padding: 40px;}
.petsitterList li .list_icon{width:130px;aspect-ratio:1/1;}
.petsitterList li .list_icon span{display: block;aspect-ratio: 1/1;padding: 20px;border-radius: 50%;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);}
.petsitterList li .list_icon span.dog{background: #f2fbff;}
.petsitterList li .list_icon span.cat{background: #fffcf1;}
.petsitterList li .list_icon img {width: 100%;height: 100%;object-fit: cover;}
.petsitterList li .list_txt {width: calc(100% - 160px);text-align: left}
.petsitterList li .list_txt .list_date{color: var(--grcolor)}
.petsitterList li .marker span{background: var(--pointcolor);padding: 5px 10px;border-radius: 50px;color: #fff;font-size: 1.4rem;font-weight: bold}
.petsitterList li .marker span.dog{background: var(--pointcolor);}
.petsitterList li .marker span.cat{background: var(--pointcolor2);}
.petsitterList li .sitterDetail {justify-content:space-between}

.searchBox .searchbtn {position: absolute;top: 50%;right: 15px;transform: translateY(-50%);margin-top:2px}
.searchBox {max-width: 320px;margin-right: auto;margin-left: auto;position: relative;top: 0;left: 0;}
.searchBox label {display: none;}
.searchBox input[type="text"] {width: 100%;padding: 10px 15px;padding-right: 50px;display: block;border: 0;background: #efefef;border-radius: 50px;}
.searchBox button[type="submit"] {color: #9999a1;}
.searchBox button[type="submit"] span{ font-size:1.3em;}


/* reservation */
.totalPriceWrap {padding:10px 0;position: fixed;z-index: 9999;bottom: 0;width: 100%;left: 0;background: rgba(0, 0, 0, 0.8);color: #fff;}
.totalPriceWrap .container{display:flex;align-items:center;justify-content: flex-end;}
.totalPriceWrap input{background:none;border:0;color:#fff;margin-left:10px;}
.reservation .brBox{text-align:left}
.reservation .timeBox {display:flex;}
.reservation .timeBox label span{display:block;width:100%;padding: 10px;border: 1px solid #ddd;border-radius: 5px;text-align: center;cursor:pointer;}
.reservation .timeBox label input[type="checkbox"]{display:none}
.reservation .timeBox label input[type="checkbox"]:checked+input+span{transition: .5s all ease;background: var(--pointcolor);color: #fff;font-weight: 600;}
.reservation .timeBox .box{margin-top:0}
.reservation .timeBox label input[type="checkbox"]:disabled+input+span, .reservation .timeBox label input[type="checkbox"]:checked:disabled+input+span {background:#fff;color:#ddd;}
#datepicker-container {position: relative;top: 0;left: 0;}
#datepicker-container span {position: absolute;top: 50%;right: 10px;transform: translateY(-50%);}
#time-container{display:none}
table.res_tb { width: 100%;}
table.res_tb th {width: 120px;}
table.res_tb td{width:calc(100% - 120px)}
table.res_tb th, table.res_tb td {padding: 10px;border-bottom: 1px solid var(--grcolor);}

.img_slide.swiper {width: 100%;aspect-ratio: 3/2;overflow: hidden;}
.img_slide.swiper .swiper-slide img {width: 100%;height: 100%;object-fit: cover;}
.img_slide .swiper-button-next, .img_slide
.img_slide .swiper-button-next, .img_slide .swiper-button-prev {width: 40px;height: 40px;border-radius: 50%;background: var(--pointcolor);display: flex;align-items: center;justify-content: center;color: #fff;box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);}
.img_slide .swiper-button-next:after, .img_slide .swiper-button-prev:after {content: "";}
.cancelled {color: red;font-weight: bold;}
.waiting {color: #ddd;font-weight: bold;}

/* addressModal */
#addressModal{display:none;margin-top:20px}
#addressModal >div{display:block}
#addressModal input[type="text"]{border:none;border-bottom:1px solid #ddd;padding:10px;width:100%;margin-top:10px}
#addressModal label{display:block}
.modal-btn{margin-top:10px;display:none;}

/* myPetPopup */
.myPetPopup {display:none;position: fixed;z-index: 9999;width: 100%;background: rgba(0, 0, 0, 0.8);top: 0;left: 0;height: 100%;text-align:center}
.myPetPopup .container{width:768px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;border-radius: 40px;padding:50px;overflow-y: scroll;max-height: 600px;}
.text-red {color: red;}
.text-gray {color: gray;}

.brBox{position:relative;top:0;left:0}
#addToWishlistBtn span {font-size: 3.0rem;}
#addToWishlistBtn {position: absolute;top: 50px;right: 50px;}

/* paging */
.paging {display: flex;align-items: center;justify-content: center;}
.paging > a {display: flex;align-items: center;}

.visible-lg, .visible-md, .visible-sm, .visible-xs,.visible-xxs {display:none !important}
@media (max-width:768px)  { .hidden-xs {display:none!important} .visible-xs {display:block!important}}
@media (max-width:500px)  { .hidden-xxs{display:none!important} .visible-xxs{display:block!important}}


@media (max-width:1240px) {
    .container{width:90%;margin:auto}
}


@media (max-width:768px) {

    .xs-direction{flex-direction: column;}
    .xs-w100{width:100%}
    .xs-w90{width:90%}
    .xs-w80{width:80%}
    .xs-order{order: 1}
    .lg-cont_box,.md-cont_box,.sm-cont_box,.xs-cont_box {margin-top: 3.5rem;}

    .xs-wrap3{--count:3}
    .xs-wrap2{--count:2}
    .xs-wrap1{--count:1}

    #header, main, #footer, section, .myPetPopup{font-size:1.8rem}
    .iconBox .img img{height:100px}
    .brBox{border-radius:20px;}

    #header .menu {margin-right:0;position: fixed;top: 0;right: -100%;width: 100%;height: 100%;z-index: 9999;background: #fff;display: block;padding: 50px 0; }
    #header .container {justify-content: space-between;}
    #header .menu li {display: block;width: 100%;font-size: 2.0rem;}
    #header .m_btn{display:block;cursor:pointer}
    #header .m_btn.m_btn_closed{position:absolute;top:30px;right:30px}
    #header .menu_box{display:flex;align-items:center}
    #header .menu_box .m_btn.m_btn_open{margin-left:10px}

    #header .menu.depth1 a {padding: 10px 30px;}
    #header .menu .depth2 {display: block!important;position: relative;top: 0;left: 0;width: 100%;box-shadow: none;}
    #header .menu .depth2 a {padding: 10px 40px;}
    #header .logo img{header:28px}
    #map {height: 200px !important;}

    .myPetPopup .container {width: 80%;padding: 30px 15px;}
    .petsitterList li.brBox{padding:20px}
}