<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
<main layout:fragment="content">
    <div class="mainslide">
        <div class="img">
            <img th:src="@{/images/mainslide.jpg}" alt="">
        </div>
        <div class="txt">
            <p class="tit">Welcome My Pet Sitter!</p>
            <p class="font18 grfont">
                나와 내 반려동물을 위한 펫시터 서비스!
            </p>
            <a th:href="@{/petsitter/list}" class="font18 btn mt-20">View More</a>
        </div>
    </div>

    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section">
        <div class="container">
            <div class="tit">How To Pet Sitter</div>
            <div class="font18 grfont">펫시터를 이용해보세요!</div>

            <div class="cont_box flexList" boxCount="3">
                <a th:href="@{/petsitter/list}" class="iconBox box">
                    <div class="img brBox">
                        <img th:src="@{/images/icon01.png}" alt="">
                    </div>
                    <p class="font28 mt-20 txt">펫시터 둘러보기</p>
                    <p class="font18 grfont">펫시터를 돌봄서비스를 이용해보세요!</p>
                </a>

                <a th:href="@{/my/myPetlist}" class="iconBox box">
                    <div class="img brBox">
                        <img th:src="@{/images/icon02.png}" alt="">
                    </div>
                    <p class="font28 mt-20 txt">나의 반려동물</p>
                    <p class="font18 grfont">나의 반려동물을 등록해보세요!</p>
                </a>

                <a th:href="@{/board/list}" class="iconBox box">
                    <div class="img brBox">
                        <img th:src="@{/images/icon03.png}" alt="">
                    </div>
                    <p class="font28 mt-20 txt">문의하기</p>
                    <p class="font18 grfont">궁금한점을 물어보세요!</p>
                </a>
            </div>
        </div>
    </section>
    <section class="section banner">
        <div class="container">
            <img th:src="@{/images/banner.png}" alt="">
            <p class="font30 wtfont mt-20">나와 내 반려동물을 위한 펫시터 서비스 지금 바로 이용해보세요!</p>
        </div>
    </section>
</main>
</html>