<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout/layout}"
>
<th:block layout:fragment="content">
    <div class="icon"><img th:src="@{/images/icon.png}" alt=""></div>
    <section class="section register">
        <div class="container">
            <div class="tit">Mypage</div>
            <div class="cont_box">
                <div th:if="${#lists.size(role) == 1}">
                    <button type="button" th:attr="onclick=|RoleChange()|" class="btn mb-20 font18">펫시터 모드 전환</button>
                </div>
                <div th:if="${#lists.size(role) > 1}">
                    <button type="button" th:attr="onclick=|RoleClear()|" class="btn mb-20 font18">사용자 모드 전환</button>
                </div>

                <ul class="petsitterList">
                    <li class="brBox" style="display:block">
                        <div class="box text-left">
                            <div class="font22">이메일주소</div>
                            <div th:text="${member.getEmail()}"></div>
                            <input type="hidden" id="email" th:value="${member.getEmail()}"/>
                        </div>

                        <div class="box text-left">
                            <div class="font22">이름</div>
                            <div th:text="${member.getNickname()}"></div>
                            <input type="hidden" id="nickname" th:value="${member.getNickname()}"/>
                        </div>

                        <div class="box text-left">
                            <div class="font22">전화번호</div>
                            <div th:text="${member.getUserTel()}"></div>
                        </div>

                        <div class="box text-left">
                            <div class="font22">주소</div>
                            <div th:text="${member.getAddress()}"></div>
                            <div th:text="${member.getDetailAdr()}"></div>
                        </div>
                        <a th:href="@{/my/mypage/update}" class="mt-20 btn font16">회원정보 수정</a>
                    </li>
                </ul>





            </div>
        </div>
    </section>
    <script>
        function RoleChange() {
            const data = {
                email: document.querySelector("#email").value ,
                nickname: document.querySelector("#nickname").value
            };

            fetch(`/my/sitterRole`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => {
                if (response.ok) {
                    alert('펫시터 모드로 전환되었습니다!.');
                    window.location.reload(); // 또는 다른 처리를 할 수 있음
                } else {
                    alert('실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('오류가 발생했습니다.');
            });
        }



        function RoleClear() {
            fetch(`/my/userRole`, {
                method: 'POST'
            })
            .then(response => {
                if (response.ok) {
                    alert('사용자 모드로 전환되었습니다!.');
                    window.location.reload(); // 또는 다른 처리를 할 수 있음
                } else {
                    alert('실패했습니다.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('오류가 발생했습니다.');
            });
        }
    </script>
</th:block>
</html>